.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logo img {
  height: 60px;
}

.navbar-logo span {
  font-family: "Playwrite GB J Guides", cursive;
  color: #f06272; 
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}

.logout-btn {
  background-color: #194388; 
  color: white;
  padding: 8px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #f06272;
  transform: scale(1.05);
}