.verify-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f06272;
  background-image: 
    radial-gradient(at 0% 0%, #194388 0px, transparent 50%);
  background-size: 200% 200%;
  overflow: hidden;
  position: relative;

}
.verify-form{
    position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 60px 45px;
  border-radius: 35px;
  width: 90%;
  max-width: 440px;
  text-align: center;
  
}
.verify-btn{

  width: 100%;
  padding: 18px;
  background: #194388; 
  color: white;
  border: none;
  border-radius: 18px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
.send-otp-btn{
   width: 80%;
  padding: 13px;
  background: #194388; 
  color: white;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  margin: 20px auto;

}
/* .verify-input-group{

  width: 80%;
  padding: 13px;
  background: #194388; 
  color: white;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  margin: 20px auto;

} */
 
.verify-input-group input{

   width: 100%;
  padding: 16px 20px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  color: white;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
  margin: 20px auto;
}

.verify-title{
  color:  #194388;
  font-family: "Mystery Quest", system-ui;
  font-size: 48px;
}
.verify-subtitle{
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}